<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.local.fcc-uls-downloader</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/home/daryl/Python_Projects/TEA-FCC/scripts/run_download.sh</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/home/daryl/Python_Projects/TEA-FCC</string>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>2</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/home/daryl/Python_Projects/TEA-FCC/launchd.log</string>
    
    <key>StandardErrorPath</key>
    <string>/home/daryl/Python_Projects/TEA-FCC/launchd.log</string>
    
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
